PROJECT_NAME="Nexus LLM-Wiki"
DEBUG=True

# Configurações do LLM (Ollama rodando no host ou outro container)
LLM_MODEL="llama3"
OLLAMA_HOST="http://host.docker.internal:11434"

# Caminho do seu Obsidian na sua máquina local
# Exemplo Windows: C:/Users/voce/Documents/ObsidianVault
# Exemplo Linux: /home/voce/obsidian-vault
# Dentro do container, isso será montado em /app/vault (conforme volumes no compose)
VAULT_PATH="./meu-vault-local"

# Caminho que o Python enxergará DENTRO do container (conforme volumes no compose)
VAULT_INTERNAL_PATH="/app/vault"

# Configurações do Banco de Dados
DB_URL_VECTORDB="postgresql+psycopg://user:pass@localhost:5432/vectordb"
DB_USER="user"
DB_PASS="pass"
DB_NAME="vectordb"